.wrap{
    background:url("../images/bj06.png") no-repeat center;
    background-size:cover;
    position:relative;
}
.loginBtnWrap{
    width:100%;
    height:4.98rem;
    background:url("../images/bj07.png") no-repeat center bottom;
    background-size: cover;
    padding-top:2rem;
    position: absolute;
    left:0;bottom:0;right:0;
}
.loginBtnList{
    padding-bottom:.3rem;
    font-size:0;
    text-align:center;
}
.loginBtnList button{
    display: inline-block;
    width:5.74rem;
    height:1rem;
    border-radius: 1rem;
    font-size:.36rem;
    font-family: simHei,'SimHei';
    line-height:1;
}
.oldUser{
    background-color:#ff4249;
    color:#fff;
}
.createUser{
    border:1px solid #ddd;
    color:#666;
}