.wrap{
    display:flex;
    align-items: center;
    justify-content: center;
}
.openBox{
    width:6.55rem;
    height:10.63rem;
    background:url("../images/bj4.png") no-repeat center;
    background-size:100% 100%;
}
.openUserHead{
    width:1.62rem;
    height:1.62rem;
    background:url("../images/user.png") no-repeat center;
    background-size:cover;
    border-radius:.1rem;
    margin:1.06rem auto 0;
}
.openUserName{
    text-align:center;
    font-size:.48rem;
    color:#f7d693;
    line-height:1.68rem;
    word-break:keep-all;           /* 不换行 */
    white-space:nowrap;          /* 不换行 */
    overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
    max-width: calc(100% - 1rem);
    margin:0 auto;
}
.openUserTitle{
    text-align:center;
    font-size:.5rem;
    color:#f7d693;
    line-height:1;
    padding-top:1rem;
}
